<div class="toolbar" role="banner">
  <h1>Upload Care with Angular material</h1>
  <div class="spacer-top">&nbsp;</div>
</div>

<div class="content" role="main">
</div>
<app-im-grid [canAdd]="true"
             [canRemove]="true"
             [maxFileCount]="5"
             [canOpen]="true"
             [useMaxSize]="true"
             [useMinSize]="true"
             (onRemoveCb)="removeImage($event)"
             (onUploadCompleteCb)="completedItem($event)"
             [listFileID]="images">
</app-im-grid>

<!-- Highlight Card -->
<router-outlet></router-outlet>
